<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="oracle" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.68.6.74)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = oracle)));User ID=swfxfk;Password=swfxfk;"  providerName="Oracle.ManagedDataAccess.Client1"  />
    <add name="sqlite" connectionString="Data Source=G:\Work\Test\DataAccess\Library.db;Password=123456;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite"/>
  </connectionStrings> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.102.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
</configuration>
